# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Local configuration / runtime artifacts
*.log
.local/

# Local PostgreSQL binaries
pgsql_win/

# IDEs / OS
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.DS_Store
Thumbs.db


*.zip
